@import "tailwindcss";

a.active hr{
    display: block;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}


html {
  scrollbar-gutter: stable;
}

/* Hide scrollbar visually */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}